@model IEnumerable<FeastFreedom.Models.Menu>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Tile" class="table">

    @foreach (var item in Model)
    {
        <div class="col-xs-4" style="min-width:300px;max-width:300px; min-height:200px; max-height:200px">
            <a href="@Url.Action("Details", "Menus", new { id = item.MenuId })" class="thumbnail">
                <img src="@item.Image" style="width:400px ; height:200px"/>
                @Html.DisplayFor(modelItem => item.ItemName)
                $@Html.DisplayFor(modelItem => item.Price)
                
            </a>
        </div>
    }

</table>
<style>
    #Tile {
        display: grid;
        grid-template-columns: 200px 2fr;
        grid-template-rows: 100px repeat(2, 1fr);
        grid-gap: 5%;
        grid-auto-rows: minmax(auto, 300px);
    }
</style>
