@model IEnumerable<FeastFreedom.Models.Menu>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="wrapper">

    @foreach (var item in Model)
    {
        <div class="col-xs-4">
            <a href="@Url.Action("Details", "Menus", new { id = item.MenuId })" class="thumbnail">
                <img src="@item.Image" style="width:400px ; height:200px" />
                @Html.DisplayFor(modelItem => item.ItemName)
                $@Html.DisplayFor(modelItem => item.Price)

            </a>
        </div>
    }

</div>
<style>
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}
</style>
