@model FeastFreedom.Models.Menu

@{
    ViewBag.Title = "Tester";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title></title>
</head>
<body>
    <p>
        Id =  @Session["Id"].ToString();
    </p>
    <p>
        Email = @Session["Email"].ToString();
    </p>

</body>
</html>

