
@{
    ViewBag.Title = "Not Authorized";
}

<h3 class="centered">It looks like you are not authorized to perform this action. Please log in with the appropriate account</h3>

<style>
    .centered {
        position: fixed; /* or absolute */
        top: 50%;
        left: 10%;
    }
</style>